        <footer>
           <div class="footer">
                <div class="container">
                    <div class="footer-col">
                        <ul class="info">
                            <li>GREEN ACADEMY</li>
                            <li>대표이사 김헬로</li>
                            <li>사업자 등록번호 230-12-15432</li>
                            <li>통신판매업신고번호 제 2023-부산-00213호</li>
                            <li>부산광역시 남구 수영로 299</li>
                            <li>TEL 051-000-0000</li>
                            <li>Email HelloPet@email.com</li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <ul class="link">
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">이용약관</a></li>
                            <li><a class="cs" th:href="@{/cs/qna/list}">문의하기</a></li>
                            <li><a th:href="@{/cs/notice/list}">고객센터</a></li>
                        </ul>
                    </div>
                </div>
           </div>
        </footer>
        <button type="button" id="top">TOP<br></button>
    </div>
</body>
</html>