<th:block th:include="@{_header.html}"/>
<script>
	$(document).ready(function(){
		
		let name = $('span[name=class]').text();
		
		if(name != null){
			$.ajax({
				url : '/HelloPet/member/countCoupon',
				method : 'GET',
				dataType : 'json',
				success : function(data){
				}
			});
		}
	});
</script>
        <main>
            <section>
                <section class="Slider">
                    <div class="slider">
                        <div><a href="#"><img th:src="@{/img/main-banner1.png}" alt="item1"></a></div>
                        <div><a href="#"><img th:src="@{/img/main-banner2.png}" alt="item2"></a></div>
                        <div><a href="#"><img th:src="@{/img/main-banner3.png}" alt="item3"></a></div>
                    </div>
                </section>
                <section class="section-topic">
                    <div class="container">
                        <div class="topic-row">
                            <div class="topic-col grade-col">
                                <h2 class="gradient-title gradient-style1">최다방문</h2>
                                <ul class="chart-list" th:each="hitItem,i:${hits}">
                                    <li>
                                        <a class="btnchart" th:href="@{/search/view(hosNo=${hitItem.medNo})}">
                                            <em class="chart-num">[[${i.index + 1}]]</em>
                                            <strong class="chart-name">[[${hitItem.medicalName}]]</strong>
                                            <span class="chart-addr">[[${hitItem.addr1}]]</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="mt-10">
                                    <a th:href="@{/lists/list(type=hit)}" class="button button-45 button-block button-outlined button-blue"><span>더보기 +</span></a>
                                </div>
                            </div>
                            <div class="topic-col grade-col">
                                <h2 class="gradient-title gradient-style2">최근등록순</h2>
                                <ul class="chart-list" th:each="newItem,i:${news}">
                                    <li>
                                        <a class="btnchart" th:href="@{/search/view(hosNo=${newItem.medNo})}">
                                            <em class="chart-num">[[${i.index + 1}]]</em>
                                            <strong class="chart-name">[[${newItem.medicalName}]]</strong>
                                            <span class="chart-addr">[[${newItem.addr1}]]</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="mt-10">
                                    <a th:href="@{/lists/list(type=new)}" class="button button-45 button-block button-outlined button-blue"><span>더보기 +</span></a>
                                </div>
                            </div>
                            <div class="topic-col grade-col">
                                <h2 class="gradient-title gradient-style3">예약많은순</h2>
                                <ul class="chart-list" th:each="reItem,i:${reserves}">
                                    <li>
                                        <a class="btnchart" th:href="@{/search/view(hosNo=${reItem.medNo})}">
                                            <em class="chart-num">[[${i.index + 1}]]</em>
                                            <strong class="chart-name">[[${reItem.medicalName}]]</strong>
                                            <span class="chart-addr">[[${reItem.addr1}]]</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="mt-10">
                                    <a th:href="@{/lists/list(type=reserve)}" class="button button-45 button-block button-outlined button-blue"><span>더보기 +</span></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
                <section class="section-medical">
                    <div class="container">
                        <h3 class="title">
                            <small>CHECK!</small>
                        </h3>
                        <h4 class="subtitle">
                            어디가 아픈지? 어떤 질병인지?<br>
                            <small>궁금하시다면, 바로 확인해 보세요</small>
                        </h4>
                        <span class="line"></span>
                        <a th:href="@{/disease/index}" class="button button-gradient"> 증상별 질병 찾기</a>
                    </div>
                </section>
                <section class="section-map">
                    <div class="container">
                        <div class="map-container">
                            <div class="map-image"></div>
                            <div class="map-texts">
                                <div class="map-text">
                                    <h3 class="title">
                                        <small>SEARCH</small>
                                        위치<span> · </span>
                                        영업시간<span> · </span>
                                        부가정보 등
                                    </h3>
                                    <h4 class="subtitle">국내 모든 펫서비스를 빠르게 확인하고 이용해보세요!</h4>
                                    <div class="button-wrap">
                                        <a th:href="@{/search/SearchHs}" id="sh" class="button button-border-gradient">
                                            <span class="color-blue">동물병원</span>
                                        </a>
                                        <a th:href="@{/search/SearchPh}" id="sh2" class="button button-border-gradient">
                                            <span class="color-point">동물약국</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-targeting">
                    <div class="container">
                        <div class="targeting-head">
                            <div class="img">
                                <p class="blind"> 우리 댕냥이들과의 행복한 일상을 공유해주세요. 댕냥이 사진 자랑하고 선물도 받아가고! </p>
                                <img th:src="@{/img/section-community.png}" alt="">
                            </div>
                            <a th:href="@{/community/talktalk/list}" class="button button-border-gradient button-arrow-right">
                                <span class="color-point">반려동물 톡톡 바로가기</span>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="section-grid">
                    <ul class="grid">
                        <li class="grid-8">
                            <div class="grid-box grid-box--1">
                                <h3 class="title">
                                    <small>PET OWNER</small>펫오너 가입
                                </h3>
                                <h4 class="subtitle">
                                    더 많은 정보를 위해<br>
                                    지금 바로 회원가입 하세요!
                                </h4>
                                <span class="line"></span>
                                <div class="button-wrap">
                                    <a th:href="@{/member/join}" class="button button-gradient">펫오너로 가입</a>
                                </div>
                            </div>
                        </li>
                        <li class="grid-8">
                            <div class="grid-box grid-box--2">
                                <h3 class="title">
                                    <small>HOSPITAL·PHARMACY</small>펫병원·약국
                                </h3>
                                <h4 class="subtitle">
                                    병원·약국 홍보를 위해<br>
                                    지금 바로 회원가입 하세요!
                                </h4>
                                <span class="line"></span>
                                <div class="button-wrap">
                                    <a th:href="@{/member/join}" class="button button-gradient">펫병원·약국으로 가입</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="section-board">
                    <div class="container">
                        <div class="main-board-row">
                            <div class="main-board-col">
                                <div class="board-box">
                                    <div class="board-box-title">
                                        공지사항
                                        <a th:href="@{/cs/notice/list}" class="board board-box-more"> 더보기 +</a>
                                    </div>
                                    <div class="board-box-list">
                                        <ul th:each="notice:${notices}">
                                            <li>
                                                <a class="board" th:href="@{/cs/notice/view(no=${notice.no}, pg=${currentPage}, rdate=${notice.rdate})}">
                                                    <span class="board-box-date"> [[${notice.rdate.substring(2,10)}]] </span>
                                                    <strong class="board-box-tit">[[${notice.title}]]</strong>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="main-board-col">
                                <div class="board-box">
                                    <div class="board-box-title">
                                        FAQ
                                        <a th:href="@{/cs/faq/list}" class="board board-box-more"> 더보기 +</a>
                                    </div>
                                    <div class="board-box-list">
                                        <ul th:each="faq:${faqs}">
                                            <li>
                                                <a class="board" th:href="@{/cs/faq/list}">
                                                    <span class="board-box-date"> [[${faq.rdate.substring(2,10)}]] </span>
                                                    <strong class="board-box-tit">[[${faq.title}]]</strong>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
<th:block th:include="@{_footer.html}"/>