<th:block th:include="@{cs/_header.html}"/>
<script>
       $(function(){
	       	$('.question0').click(function() {
	       	    $('.answer0').toggle();
	       	});
	       	$('.question1').click(function() {
	       	    $('.answer1').toggle();
	       	});
	       	$('.question2').click(function() {
	       	    $('.answer2').toggle();
	       	});
	       	$('.question3').click(function() {
	       	    $('.answer3').toggle();
	       	});
	       	$('.question4').click(function() {
	       	    $('.answer4').toggle();
	       	});
	       	
	       	$('.btnDel').click(function(){
				if(confirm('정말 삭제하시겠습니까?')){
					return true;
				}else{
					return false;
				}
			});
       });
</script>            
         <main id="faq">
		    <div class="top">
		        <h3>고객센터</h3>
		    </div>
		    <div class="tab">
		        <ul>
		            <li><a th:href="@{/cs/notice/list}">공지사항</a></li>
		            <li class="on"><a th:href="@{/cs/faq/list}">자주묻는질문</a></li>
		            <li><a class="btnqna" th:href="@{/cs/qna/list}">문의하기</a></li>
		        </ul>
		    </div>
            <section id="list">
                <div class="container">
                    <ul class="tab-list"></ul>
                    <div class="faq">
                        <ul th:each="faq,i:${faqs}">
                            <li class="opened">
                                <div th:class="'q question' + ${i.index}">
                                    <span class="question-mark">Q</span>
                                    <div class="question-title">
                                        <div class="centre">
                                            <div class="inner">
                                                <button data-index="[(${i.index})]">[[${faq.title}]]</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:class="'a answer' + ${i.index}" style="display: none;" data-index="[(${i.index})]">
                                    <div class="answer-inner">
                                        <span class="answer-mark">A</span>
                                        <div class="answer-contents">
                                            <p>[[${faq.content}]]</p>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <a sec:authorize="hasAuthority('ROLE_7')" th:href="@{/cs/faq/modify(no=${faq.no})}" class="btnModify">수정</a>    
                                        <a sec:authorize="hasAuthority('ROLE_7')" th:href="@{/cs/faq/delete(no=${faq.no})}" class="btnDel">삭제</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                <a sec:authorize="hasAuthority('ROLE_7')" th:href="@{/cs/faq/write}" class="btnWrite">글쓰기</a>    
                </div>
            </section>
        </main>
<th:block th:include="@{cs/_footer.html}"/>