<th:block th:include="@{cs/_header.html}"/>
<script>
	$(function(){
		
		var urlParams = new URL(location.href).searchParams;
		var index = urlParams.get('index');
		console.log(index);
		
		$('.btnModify').click(function(){
			if(confirm('수정하시겠습니까?')){
				return true;
			}else{
				return false;
			}
		});

	});
</script>
	<main id="faq">
		    <div class="top">
		        <h3>고객센터</h3>
		    </div>
		    <div class="tab">
		        <ul>
		            <li><a th:href="@{/cs/notice/list}">공지사항</a></li>
		            <li class="on"><a th:href="@{/cs/faq/list}">자주묻는질문</a></li>
		            <li><a class="btnqna" th:href="@{/cs/qna/list}">문의하기</a></li>
		        </ul>
		    </div>
            <section id="modify">
                <div class="container">
                    <form action="#" method="post">
                        <table class="modifyTable">
                            <caption>FAQ 수정</caption>
                            <tr>
                                <th>Q</th>
                                <td><input type="text" name="title" th:value="${vo.title}"></td>
                            </tr>
                            <tr>
                                <th>A</th>
                                <td><textarea name="content" th:text="${vo.content}"></textarea></td>
                            </tr>
                        </table>
                        <div class="button">
                            <a th:href="@{/cs/faq/list}" class="btnCancel">취소</a>
                            <input type="submit" value="수정완료" class="btnModify"/>
                        </div>
                    </form>
                </div>
            </section>
        </main>
<th:block th:include="@{cs/_footer.html}"/>