<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>헬로펫</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link async="" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/popup.js}"></script>
    <script>
        function goMsg (){
        	var uid = $('.uid').text();
        	console.log(uid);
        	
        	location.href="/HelloPet/message/message";
        }
        
        $(function(){
        	var level = $('.level').text();
        	console.log(level);
        	
        	$('.cs').click(function(){
    			if(level !=  null && $.trim(level) !== ''){
        			if(level == 1 || level == 7){
        				return true;
        			}else{
        				alert('일반회원만 가능합니다.')
        				return false;
        			}
        			
        		}else{
        			alert('로그인이 필요합니다.');
        			return false;
        		}
        	});
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <header class="header">
            <div class="headerTop">
                <div>
                    <span sec:authorize="hasAuthority('ROLE_2')"  th:text="${vo.medicalName}+'님'"></span>
                    <span sec:authorize="hasAuthority('ROLE_3')"  th:text="${vo.medicalName}+'님'"></span>
                    <label sec:authorize="hasAuthority('ROLE_7')" th:text="웹관리자님"></label>
                    <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
                    <a th:href="@{/}">홈으로 가기</a>
                    <a sec:authorize="isAuthenticated()" onclick="goMsg()" class="message">알림 ([[${msg2}]])</a>
                	<a th:href="@{/cs/notice/list}">고객센터</a>
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul sec:authorize="hasAuthority('ROLE_2')">
                        <li class="logo"><a  th:href="@{/admin/info(medNo=${vo.medNo})}"><img th:src="@{/img/admin_logo.png}" alt="logo"></a></li>
                        <li><a th:href="@{/admin/info(medNo=${vo.medNo})}">정보관리</a></li>
                        <li><a th:href="@{/admin/confirm/list(medNo=${vo.medNo})}">예약내역</a></li>
                    </ul>
                    <ul sec:authorize="hasAuthority('ROLE_3')">
                        <li class="logo"><a  th:href="@{/admin/info(pharNo=${vo.pharNo})}"><img th:src="@{/img/admin_logo.png}" alt="logo"></a></li>
                        <li><a th:href="@{/admin/info(pharNo=${vo.pharNo})}">정보관리</a></li>
                    </ul>
                    <ul sec:authorize="hasAuthority('ROLE_7')">
                        <li class="logo"><a  th:href="@{/admin/info}"><img th:src="@{/img/admin_logo.png}" alt="logo"></a></li>
                        <li><a th:href="@{/admin/info}">정보관리</a></li>
                        <li><a th:href="@{/admin/product/list}">진료상품관리</a></li>
                        <li><a th:href="@{/admin/coupon/list}">쿠폰관리</a></li>
                    </ul>
                </div>
            </div>
        </header>