<th:block th:include="@{admin/_header.html}"/>
<script>
let regPass  = /^.*(?=^.{5,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;

	$(function(){
		$('.btnNext').click(function(e){
			e.preventDefault();
			
			let uid = $('.uid').text();
			let pass1 = $('input[name=pass1]').val();
			let pass2 = $('input[name=pass2]').val();
			
			console.log("hr1"+pass1);
			console.log("hr2"+pass2);
			
			if(pass1 != pass2){
				alert('비밀번호가 일치하지 않습니다.\n다시 입력해주세요.');
				return;
			}
			console.log("hr3");
			
			if(!pass2.match(regPass)){
				alert('영문, 숫자, 특수문자 조합하여 5자 이상이어야 합니다.');
				return;
			}
			
			let jsonData = {
					"uid": uid,
					"pass": pass2
			};
			console.log("hr4");
			
			$.ajax({
				url: '/HelloPet/admin/pwChange',
				type: 'post',
				data: jsonData,
				dataType: 'json',
				success: function(data){
					console.log("hr5")
					
					if(data.result > 0){
						console.log("hr6")
						alert('비밀번호가 변경되었습니다.\n다시 로그인 하십시오.');
						location.href="/HelloPet/member/login";
					}
				}
			});
		});
	});
</script>
<main>
	   <div class="top">
	                <h3>정보관리</h3>
	   </div>
	   <div class="find findPwChange">
        <nav>
            <h1>비밀번호 수정</h1>                    
        </nav>
		<form action="#" method="post">
             <table border="0">
                 <tr>
                    <td>아이디</td>
                    <td class="uid" th:text="${#authentication.principal.medical.uid}"></td>
                </tr>
                <tr>
                    <td>새 비밀번호</td>
                    <td>
                        <input type="password" id="pass1" name="pass1" placeholder="새 비밀번호 입력" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>새 비밀번호 확인</td>
                    <td>
                        <input type="password" id="pass2" name="pass2" placeholder="새 비밀번호 입력" required="required"/>
                    </td>
                </tr>
             </table>
             <p>
	            비밀번호를 변경해 주세요.<br>
            	영문, 숫자, 특수문자를 사용하여 5자 이상 입력해 주세요.
	         </p>
	
	        <div class="btn">
	            <a th:href="@{/admin/info}" class="btnCancel">취소</a>
	            <a th:href="@{/member/login}" class="btnNext">완료</a>
	        </div>					
		</form>
		
    </div>
</main> 
<th:block th:include="@{admin/_footer.html}"/>