<th:block th:include="@{admin/_header.html}"/>
<link rel="stylesheet" th:href="@{/css/admin_product.css}">
<script>
$(function(){		
	
	// 체크박스 전체 선택, 해제
	$('#checkAll').click(function(){
		let checked = $(this).is(':checked');
        if(checked){
            $('input:checkbox[name=check]').prop('checked',true); 
        }else{
            $('input:checkbox[name=check]').prop('checked',false); 
        }
    });
	
	// 개별체크 선택 및 해제시 전체 체크 활성 및 비활성
	$('input:checkbox[name=check]').click(function(){
		let checked = $('input:checkbox[name=check]:checked').length;
		let size = $('input[name=size]').val();
		if (checked == size){
			$('#checkAll').prop('checked', true);
		}else{
			$('#checkAll').prop('checked', false);
		}
	});	   
	
	// 선택삭제
	$('#delete').click(function () {
		if ($('input[name=check]:checked').length == 0) {
			alert('선택된 쿠폰이 없습니다.');
			return false;
	    }
	    let cpNo = [];
	    $('input[name=check]:checked').each(function (e) {
	    	cpNo.push($(this).data("no"));
    	});
	    if (confirm('선택된 쿠폰을 삭제하시겠습니까?')) {
	    	let jsonData = {
    			'cpNo': cpNo.toString()
			};
		    	console.log(jsonData);
	    	$.ajax({
	    		type: 'get',
	        	url: '/HelloPet/admin/coupon/delete',
	        	data: jsonData,
	        	dataType: 'json',
	        	success: function (data) {
	        		if (data.result > 0) {
	        			$('input[name=check]:checked').parents('tr').remove();
	        			alert('삭제되었습니다.');
	        			location.reload();
	        			if ($('input[name=check]').length == 0) {
	        				$('input:checkbox[name=checkAll]').prop('checked', false);
        				}
        			}else {
        				alert('실패');
    				}
        		}
        	});
    	}else {
    		location.reload();
    	}
    });
});
</script>
        <main>
            <div class="top">
                <h3>쿠폰관리</h3>
            </div>
            <div class="product_list">
            <table>
                <tr>
                    <th><input type="checkbox" name="all" id="checkAll"/></th>
                    <th>쿠폰번호</th>
                    <th>쿠폰명</th>
                    <th>할인가</th>
                    <th>적용조건</th>
                    <th>유효기간</th>
                    <th>발급</th>
                    <th>관리</th>
                </tr>
                <tr th:each="coupon,i : ${Coupons}">
                    <td>
                        <input type="checkbox" name="check" th:data-no="${coupon.cpNo}"/>
                        <input type="hidden" name="size" th:value="${Coupons.size()}"/>
                    </td>
                    <td>[[${pageStartNum - 1 - i.index}]]</td>
                    <td>[[${coupon.cpName}]]</td>
                    <td th:if="${coupon.discount} != 0">[[${coupon.discount}]]%</td>
                    <td th:if="${coupon.discount} == 0" data-th-text="${#numbers.formatInteger(coupon.disprice, 3, 'COMMA') + '원'}"></td>
                    <td>[[${coupon.require}]]</td>
                    <td>[[${coupon.vaild}]]</td>
                    <td>[[${coupon.download}]]</td>
                    <td>
                        <a th:href="@{/admin/coupon/modify(cpNo=${coupon.cpNo})}">수정</a>
                    </td>
                </tr>
                
            </table>
            <input type="button" class="btn_delete" value="선택삭제" id="delete">

            <a th:href="@{/admin/coupon/register}" class="btn_register">쿠폰등록</a>
                     <div class="paging">
                    	<th:block th:if="${pageGroupStart > 1}">
                        <a th:href="@{/admin/coupon/list(pg=${pageGroupStart - 1})}" class="prev">←</a>
                        </th:block>
                        <th:block th:each="num,iterStat : ${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
                        <a th:href="@{/admin/coupon/list(pg=${num})}" th:class="${num} eq ${currentPage} ? 'num on':'num'">[[${num}]]</a>
                        </th:block>
                        <th:block th:if="${pageGroupEnd < lastPageNum}">
                        <a th:href="@{/admin/coupon/list(pg=${pageGroupEnd + 1})}" class="next">→</a>
                        </th:block>
                    </div>

        </main>
<th:block th:include="@{admin/_footer.html}"/>