<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>헬로펫</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/postcode.js}"></script>
</head>
<body>
<div id="wrapper">
   <header class="header">
       <div class="headerTop">
			<div th:if="${#authentication.principal == null or #authentication.principal == 'anonymousUser'}">
			    <a th:href="@{/member/login}" >로그인</a>
			    <a th:href="@{/member/join}">회원가입</a>
			    <a href="#">마이페이지</a>
			</div>
			<div th:if="${#authentication.principal != null and #authentication.principal != 'anonymousUser' and #authentication.principal.member != null}">
			    <span class="nick" th:text="${#authentication.principal.member.name}" ></span>님 반갑습니다.
			    <a th:href="@{/member/logout}">로그아웃</a>
			    <a href="#">마이페이지</a>
			</div>
			<div th:if="${#authentication.principal != null and #authentication.principal != 'anonymousUser' and #authentication.principal.medical != null}">
			    <span class="nick" th:text="${#authentication.principal.medical.name}" ></span>님 반갑습니다.
			    <a th:href="@{/member/logout}">로그아웃</a>
			    <a href="#">마이페이지</a>
			</div>
       </div>
       <div class="menu">
           <div>
               <ul>
                   <li><a href="#">증상별질병찾기</a></li>
                   <li><a href="#">병원/약국찾기</a></li>
                   <li class="logo"><a th:href="@{/}"><img src="../img/ci.png" alt="logo"></a></li>
                   <li><a href="#">커뮤니티</a></li>
                   <li><a href="#">고객센터</a></li>
               </ul>
           </div>
       </div>
   </header>