<th:block th:include="@{member/_header.html}"/>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script>

	$(document).ready(function(){
		let url = window.location.href;
		let i = url.lastIndexOf('=');
		
		let success = url.substring(i + 1);
		
		if(success == 100){
			alert('로그인 정보가 없습니다.');
			//location.href="/HelloPet/member/login";
		}
	});
	
	

</script>
<style>
	#naver_id_login {
	    width: 450px;
	    height: 40px;
	    margin-bottom: 5px;
	    padding: 5px;
	    text-indent: 10px;
	    background: url(../img/social-n.png) no-repeat;
	    background-position-x: 10px;
	    background-position-y: 10px;
	    text-align: center;
	    background-size: auto 30px;
	    background-color: #1ec800;
	    font-size: 14px;
	    color: #fff;
	}
	
	#naver_id_login a {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	#naver_id_login img {}
	
</style>
<main class="login_main">
    <div class="login_div">
        <article class="login">
            <div class="main_first">
                <h2>로그인</h2>
                <div class="main_second">
                    <form action="#" class="login_form" method="post">
                        <input type="text" name="uid" placeholder="아이디">
                        <input type="password" name="pass" placeholder="비밀번호">
                        <div class="remember-div">
                            <input type="checkbox" name="remember-me"><i class="circle"></i><span class="text">아이디저장</span>
                        </div>
                        <input type="submit" id="login" value="로그인">
	                    <!-- 네이버 로그인 버튼 노출 영역 -->
					    <div id="naver_id_login"></div>
					    <!-- //네이버 로그인 버튼 노출 영역 -->
                        <input type="text" id="kakao" value="Kakao 로 로그인">
                        <input type="text" id="apple" value="Apple 로 로그인">
                        <ul>
                            <li><a th:href="@{/member/join}">회원가입</a></li>
                            <li><a th:href="@{/member/find}">아이디</a></li>
                            <li><a th:href="@{/member/find}">비밀번호찾기</a></li>
                            <!-- <li><a href=" http://nid.naver.com/nidlogin.logout">로그아웃</a>></li> -->
                        </ul>
                    </form>
                </div>
            </div>
        </article>
    </div>
</main>
<script type="text/javascript">
    var naver_id_login = new naver_id_login("jiZuINHHWMgk1sv9NlGc", "http://localhost:8081/HelloPet/");
    var state = naver_id_login.getUniqState();
    naver_id_login.setButton("green", 3,40);
    naver_id_login.setDomain("http://127.0.0.1:8081/HelloPet/member/login");
    naver_id_login.setState(state);
    naver_id_login.init_naver_id_login();
</script>
<th:block th:include="@{member/_footer.html}"/>
