
<th:block th:include="@{member/_header.html}"/>
<script th:src="@{/js/terms.js}"></script>
<script>
	$(document).ready(function(){
	    $('input[id=terms_next]').click(function(e){
			e.preventDefault();
			
	        let check1 = $('input[name=terms_check]').is(':checked');
	        let check2 = $('input[name=privacy_check]').is(':checked');
	        let check  = $('input[name=all]').prop('checked'); 
	        
	        if(check1 && check2){
	        	
				let type = $('input[name=type]').val();
				
				if(type == 'owner'){
					
					if(check){
						let jsonData = {'check' : check};
						$.ajax({
							url : '/HelloPet/member/authority',
							method : 'POST',
							data : jsonData,
							dataType : 'json',
							async: false
						});
						location.href="/HelloPet/member/register";
					}
				
				}else if(type == 'medical'){
					
					if(check){
						let jsonData = {'check' : check};
						$.ajax({
							url : '/HelloPet/member/authority',
							method : 'POST',
							data : jsonData,
							dataType : 'json',
							async: false
						});
						location.href="/HelloPet/member/registerMedical";
					}
				}
	        }else{
	            alert('동의체크 확인!');
	        }
	    });
	    
	    $('#terms_cancel').click(function(e){
	    	e.preventDefault();
	    	location.href= '/HelloPet/';
	    });
	});

</script>
<main class="terms_main">
    <div class="terms_div">
        <div class="terms_top">
            <span th:if="${type == 'owner'}">펫오너 회원가입</span>
            <span th:if="${type == 'medical'}">병원 약국 회원가입</span>
            <div class="terms_top2">
                <span>이용약관</span>
                <div class="terms_img">
                    <img src="../img/tab1.png" alt="">
                </div>
            </div>
        </div>
        <div class="terms_content" th:each="vo:${vo}">
            <div class="content">
                <span>이용약관</span>
                <p style="overflow: auto; line-height: 200%;">
                    [[${vo.terms}]]
                </p>
            </div>
            <div class="terms_check">
            	<input type="hidden" th:value="${type}">
            	<input type="hidden" name="type" th:value="${type}">
                <input type="checkbox" name="terms_check" class="member_check">
                <span>이용약관에 동의합니다.</span>
            </div>
        </div>
        <div class="terms_content" th:each="vo:${vo}">
            <div class="content">
                <span>개인정보처리방침</span>
                <p style="overflow: auto; line-height: 200%;">
                    [[${vo.privacy}]]
                </p>
            </div>
            <div class="terms_check">
                    <input type="checkbox" name="privacy_check" class="member_check">
                    <span>이용약관에 동의합니다.</span>
                    <div>
                        <input type="checkbox" name="all">
                        <span>전체동의합니다.</span>    
                    </div>
            </div>
        </div>
        <div class="terms_button">
            <ul>
                <li><input type="button" id="terms_cancel" value="취소"></li>
                <li><input type="button" id="terms_next" value="다음 단계로"></li>
            </ul>
        </div>
    </div>
</main>
<th:block th:include="@{member/_footer.html}"/>
