<th:block th:include="@{_header.html}"/>
<script>
	$(function(){
		var urlParams = new URL(location.href).searchParams;
		var type= urlParams.get('type');
		console.log(type);
		
		
	});
</script>
        <div class="List">
          <div class="contents">
            <div class="search-top">
            	<h3 class="title" th:if="${type == 'hit'}">&nbsp;&nbsp;최다 방문 목록</h3>
            	<h3 class="title" th:if="${type == 'new'}">&nbsp;&nbsp;최근 등록 목록</h3>
            	<h3 class="title" th:if="${type == 'reserve'}">&nbsp;&nbsp;최다 예약 목록</h3>
            </div>
            <section id="section2">
                <div class="mapContainer">
                    <ul>
                        <li>
                           <h3>병원 목록</h3>
                        </li>
                    </ul>
                </div>
                <div class="lists">
	                    <ul th:if="${type == 'hit'}">
	                        <li th:each="hitItem:${hits}">
	                            <span class="titleHs"><a th:href="@{/search/view(hosNo=${hitItem.medNo})}">[[${hitItem.medicalName}]]</a></span>
	                            <span class="infoHs">
	                                <span>[[${hitItem.addr1}]]</span>
	                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[[${hitItem.tel}]]</span>
	                            </span>
	                            <span class="button-wrap">
	                                <a th:href="@{/search/view(hosNo=${hitItem.medNo})}"><button type="button" id="btnDt">자세히</button></a>
	                                <a th:href="@{/search/reserve(hosNo=${hitItem.medNo})}"><button type="button" id="btnga">예약가능</button></a>
	                            </span>
	                        </li>
	                    </ul>
	                    <ul th:if="${type == 'new'}">
	                        <li th:each="newItem:${news}">
	                            <span class="titleHs"><a th:href="@{/search/view(hosNo=${newItem.medNo})}">[[${newItem.medicalName}]]</a></span>
	                            <span class="infoHs">
	                                <span>[[${newItem.addr1}]]</span>
	                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[[${newItem.tel}]]</span>
	                            </span>
	                            <span class="button-wrap">
	                                <a th:href="@{/search/view(hosNo=${newItem.medNo})}"><button type="button" id="btnDt">자세히</button></a>
	                                <a th:href="@{/search/reserve(hosNo=${newItem.medNo})}"><button type="button" id="btnga">예약가능</button></a>
	                            </span>
	                        </li>
	                    </ul>
	                    <ul th:if="${type == 'reserve'}">
	                        <li th:each="reItem:${news}">
	                            <span class="titleHs"><a th:href="@{/search/view(hosNo=${reItem.medNo})}">[[${reItem.medicalName}]]</a></span>
	                            <span class="infoHs">
	                                <span>[[${reItem.addr1}]]</span>
	                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[[${reItem.tel}]]</span>
	                            </span>
	                            <span class="button-wrap">
	                                <a th:href="@{/search/view(hosNo=${reItem.medNo})}"><button type="button" id="btnDt">자세히</button></a>
	                                <a th:href="@{/search/reserve(hosNo=${reItem.medNo})}"><button type="button" id="btnga">예약가능</button></a>
	                            </span>
	                        </li>
	                    </ul>
                </div>
                <!-- 검색목록 페이지 번호 -->
                <div class="paging">
	                <ul>
	                <th:block th:if="${groups[0]>1}">
	                    <li><a th:href="@{/lists/list(type=${type},pg=${groups[0]-1})}" class="prev">←</a></li>
	                </th:block>
	                <th:block th:if="${groups[1] != 0}">
	                <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
	                    <li><a th:href="@{/lists/list(type=${type},pg=${num})}" th:class="${num == currentPage?'num on':'num'}">[[${num}]]</a></li>
	                </th:block>
	                </th:block>
	                <th:block th:if="${groups[1]<lastPageNum}">
	                    <li><a th:href="@{/lists/list(type=${type},pg=${groups[1]+1})}" class="next">→</a></li>
	                </th:block>
	                </ul>
	            </div>

            </section>

         </div>
        </div>
<th:block th:include="@{_footer.html}"/>