<th:block th:include="@{admin/_header.html}"/>
<script>
	$(function(){
		
	});

</script>
        <main>
            <div class="top">
                <h3>예약내역확인</h3>
            </div>
            <div class="reserve_div">
                <table class="reserve_table">
                    <tr>
                        <th>예약번호</th>
                        <th>보호자명</th>
                        <th>펫이름</th>
                        <th>예약일</th>
                        <th>예약시간</th>
                        <th>예약상태</th>
                        <th>상태변경</th>
                    </tr>
                    <tr th:each="item,i:${reserves}">
                    <td style="display: none" name="revNo" class="revNo">[[${item.revNo}]]</td>
                        <td>[[${pageStartNum - i.index}]]</td>
                        <td>[[${item.oName}]]</td>
                        <th:block th:if="${item.petNum == '1'}">
                        	<td>[[${item.petName1}]]</td>
                        </th:block>
                        <th:block th:if="${item.petNum == '2'}">
                        	<td>[[${item.petName1}]], [[${item.petName2}]]</td>
                        </th:block>
                        <td>[[${item.revDate}]]</td>
                        <td>[[${item.revTime.substring(0, 5)}]]</td>
                        <th:block th:if="${item.status == 0}">
                        	<td>예약대기</td>
                        </th:block>
                        <th:block th:if="${item.status == 1}">
                        	<td>예약수락</td>
                        </th:block>
                        <th:block th:if="${item.status == 2}">
                        	<td>예약거절</td>
                        </th:block>
                        
                        <td>
                            <a href="#" class="btn btnConfirm">수락</a>
                            <a class="btn btnReject">거절</a>
                        </td>
                    </tr>
                </table>
                <div class="paging">
                    <ul>
                        <li><a href="#" class="prev">←</a></li>
                        <li><a href="#" class="on">1</a></li>
                        <li><a href="#" class="next">→</a></li>
                    </ul>
                </div>
            </div>
        </main>
<th:block th:include="@{admin/_footer.html}"/>

        <!-- 예약 거절 팝업 -->
        <div id="popReject" class="popup">
            <div>
                <nav>
                    <h1>예약거절사유</h1>
                    <button class="btnClose">X</button>
                </nav>
                <section>
                	<article class="reserve">
                        <h3>예약정보</h3>
                        <table class="popupTable">
                            <tr>
                                <th>예약번호</th>
                                <th>보호자명</th>
                                <th>펫이름</th>
                                <th>예약일</th>
                                <th>시간</th>
                            </tr>
                            <tr th:if="${reserve != null}">
                                <td>[[${reserve.revNo}]]</td>
		                        <td>[[${reserve.oName}]]</td>
		                        <td>[[${reserve.petName1}]]</td>
		                        <td>[[${reserve.revDate}]]</td>
		                        <td>[[${reserve.revTime}]]</td>
                            </tr>
                        </table>
                    </article>
                    <form action="#">
	                    <table class="popup-contents">
	                        <tr>
	                            <th>거절사유</th>
	                            <td><textarea name="reject" placeholder="거절사유 입력"></textarea></td>
	                        </tr>
	                    </table>
	                    <div>
	                        <button class="btnCancel">취소</button>
	                        <input type="submit" class="btnSubmit" value="보내기">
	                    </div>
                    </form>              
                </section>                    
            </div>
        </div>
    </div>
</body>
</html>