<th:block th:include="@{admin/_header.html}"/>
        <main>
            <div class="top">
                <h3>예약내역확인</h3>
            </div>
            <div class="reserve_div">
                <table class="reserve_table">
                    <tr>
                        <th>#</th>
                        <th>예약번호</th>
                        <th>보호자명</th>
                        <th>펫이름</th>
                        <th>예약일</th>
                        <th>시간</th>
                        <th>상태</th>
                        <th>상태변경</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>001234</td>
                        <td>이민혁</td>
                        <td>뽀삐</td>
                        <td>2023.03.31</td>
                        <td>14:30</td>
                        <td>대기중</td>
                        <td>
                            <a href="#" class="btn btnConfirm">수락</a>
                            <a href="#" class="btn btnReject">거절</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>001233</td>
                        <td>김채영</td>
                        <td>삐삐</td>
                        <td>2023.03.24</td>
                        <td>10:30</td>
                        <td>대기중</td>
                        <td>
                            <a href="#" class="btn btnConfirm">수락</a>
                            <a href="#" class="btn btnReject">거절</a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>001232</td>
                        <td>임민지</td>
                        <td>다다</td>
                        <td>2023.03.19</td>
                        <td>15:30</td>
                        <td>대기중</td>
                        <td>
                            <a href="#" class="btn btnConfirm">수락</a>
                            <a href="#" class="btn btnReject">거절</a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>001231</td>
                        <td>장인화</td>
                        <td>가루</td>
                        <td>2023.03.21</td>
                        <td>10:30</td>
                        <td>거절</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>001230</td>
                        <td>김경준</td>
                        <td>초코</td>
                        <td>2023.03.21</td>
                        <td>10:30</td>
                        <td>수락</td>
                        <td>
                        </td>
                    </tr>
                </table>
                <div class="paging">
                    <ul>
                        <li><a href="#" class="prev">←</a></li>
                        <li><a href="#" class="on">1</a></li>
                        <li><a href="#" class="num">2</a></li>
                        <li><a href="#" class="num">3</a></li>
                        <li><a href="#" class="num">4</a></li>
                        <li><a href="#" class="num">5</a></li>
                        <li><a href="#" class="num">6</a></li>
                        <li><a href="#" class="next">→</a></li>
                    </ul>
                </div>
            </div>
        </main>
<th:block th:include="@{admin/_footer.html}"/>

        <!-- 예약 거절 팝업 -->
        <div id="popReject" class="popup">
            <div>
                <nav>
                    <h1>예약거절사유</h1>
                    <button class="btnClose">X</button>
                </nav>
                <section>
                    <article class="reserve">
                        <h3>예약정보</h3>
                        <table class="popupTable">
                            <tr>
                                <th>예약번호</th>
                                <th>보호자명</th>
                                <th>펫이름</th>
                                <th>예약일</th>
                                <th>시간</th>
                            </tr>
                            <tr>
                                <td>001231</td>
                                <td>장인화</td>
                                <td>가루</td>
                                <td>2023.03.21</td>
                                <td>10:30</td>
                            </tr>
                        </table>
                    </article>                    
                    <form action="#">
                        <table class="popup-contents">
                            <tr>
                                <th>거절사유</th>
                                <td><textarea name="reject" placeholder="거절사유 입력"></textarea></td>
                            </tr>
                        </table>
                        <div>
                            <button class="btnCancel">취소</button>
                            <input type="submit" class="btnSubmit" value="보내기">
                        </div>
                    </form>              
                </section>                    
            </div>
        </div>
    </div>
</body>
</html>