<th:block th:include="@{my/_header.html}"/>


 <div class="mypage-contents">
      <div class="mypage-contents_head">
          <h2 class="mypage-contents__title">게시글관리</h2>
 </div>
     		 <!--게시물 목록-->
              <div class="mypage-contents_body">
                  <table border="0">
                      
                      <tr class="listTitle">
                          <th>번호</th>
                          <th>제목</th>
                          <th>작성일</th>
                          <th>조회수</th>
                      </tr>
              
                      <tr>
                          <td>1</td>
                          <td><a href="#">우리 가루 짱이다.</a></td>
                          <td>23-03-06</td>
                          <td>1</td>
                      </tr>
                      <tr>
                          <td>2</td>
                          <td><a href="#">우리 가루 멋지다.</a></td>
                          <td>23-03-06</td>
                          <td>10</td>
                      </tr>
                      <tr>
                          <td>3</td>
                          <td><a href="#">우리 가루 예쁘다.</a></td>
                          <td>23-03-06</td>
                          <td>100</td>
                      </tr>
                  </table>
              </div>
                   <!-- 검색목록 페이지 번호 -->
                    <!-- 검색목록 페이지 번호 -->
                    <div class="paging">
                        <span class="prev">
                            <a href="#"><&nbsp;이전</a>
                        </span>
                        <span class="num">
                            <a href="#" class="on">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                        </span>
                        <span class="next">
                            <a href="#">다음&nbsp;></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="@{my/_footer.html}"/>