<th:block th:include="@{my/_header.html}"/>
 	<div class="mypage-contents">
 		<div class="mypage-contents_head">
 			<h2 class="mypage-contents__title">게시글관리</h2>
 		</div>
		 <!--게시물 목록-->
         <div class="mypage-contents_body">
             <table border="0">
                 <tr class="listTitle">
                     <th>번호</th>
                     <th>제목</th>
                     <th>작성일</th>
                     <th>조회수</th>
                 </tr>
                 <tr th:if="${articles.size() == 0}">
					<td colspan="4">
						게시글이 없습니다.
				</td>
                 </tr>
                 <tr th:each="article,i:${articles}" th:if="${articles.size() > 0}">
                     <td>[[${pageStartNum - i.index}]]</td>
                     <td><a th:href="@{/community/talktalk/modify(no=${article.no})}">[[${article.title}]]</a></td>
                     <td>[[${article.rdate.substring(0,10)}]]</td>
                     <td>[[${article.hit}]]</td>
                 </tr>
             </table>
         </div>
         <!-- 검색목록 페이지 번호 -->
		<div class="paging">
              <ul>
               <th:block th:if="${groups[0]>1}">
                   <li><a th:href="@{/my/myArticle(pg=${groups[0]-1})}" class="prev">←</a></li>
               </th:block>
               <th:block th:if="${groups[1] != 0}">
               <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                   <li><a th:href="@{/my/myArticle(pg=${num})}" th:class="${num == currentPage?'num on':'num'}">[[${num}]]</a></li>
               </th:block>
               </th:block>
               <th:block th:if="${groups[1]<lastPageNum}">
                   <li><a th:href="@{/my/myArticle(pg=${groups[1]+1})}" class="next">→</a></li>
               </th:block>
              </ul>
          </div>
	</div>
</div>
</div>
</div>
</div>
<th:block th:include="@{my/_footer.html}"/>