<th:block th:include="@{my/_header.html}"/>
<div class="mypage-contents">
                            <div class="mypage-contents_head">
                                <h2 class="mypage-contents__title">1:1문의</h2>
                            </div>
                            <!--게시물 목록-->
                            <div class="mypage-contents_body">
                                <table border="0">

                                    <tr class="listTitle">
                                        <th>번호</th>
                                        <th>내용</th>
                                        <th>등록일</th>
                                    </tr>

                                    <tr th:each="article,i:${articles}">
                                        <td>[[${pageStartNum - i.index }]]</td>
                                        <td><a href="#">[[${article.title}]]</a></td>
                                        <!-- 날짜를 어떤 형식으로 ?  -->
                                        <td>[[${#strings.substring(article.rdate, 0, 19)}]]</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- 검색목록 페이지 번호 -->
                            <!-- 검색목록 페이지 번호 -->
		                    <div class="paging">
								<span class="prev" th:if="${currentPageGroup == null or currentPageGroup[0] <= 5}">
								    <a th:href="@{/my/myQna(pg=1)}">
								      &lt;&nbsp;이전
								    </a>
								</span>
		                        <span class="num">
		                        <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
		                            <a th:href="@{/my/myQna(pg=${num})}" 
		                            th:class="${num==currentPage ? 'on':'off'}"+"${num==currentPage?'num current':'num'}">[[${num}]]</a>
		                        </th:block>
		                        </span>
		                        <span class="next" th:if="${groups[1] < lastPageNum}">
		                            <a th:href="@{/my/myQna(pg=${groups[1]+1})}">다음&nbsp;></a>
		                        </span>
								<span class="next" th:if="${groups[1] >= lastPageNum}">
								    <a th:href="@{/my/myQna(pg=${lastPageNum})}">다음&nbsp;></a>
								</span>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
<th:block th:include="@{my/_footer.html}"/>