<th:block th:include="@{my/_header.html}"/>
<div class="mypage-contents">
                            <div class="mypage-contents_head">
                                <h2 class="mypage-contents__title">1:1문의</h2>
                            </div>
                            <!--게시물 목록-->
                            <div class="mypage-contents_body">
                                <table border="0">

                                    <tr class="listTitle">
                                        <th>번호</th>
                                        <th>내용</th>
                                        <th>등록일</th>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td><a href="#">모델 이름이 뭔가요?</a></td>
                                        <td>23-03-06</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><a href="#">왜 예약이 취소된건가요?</a></td>
                                        <td>23-03-06</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><a href="#">똑바로 운영안하세요?</a></td>
                                        <td>23-03-06</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- 검색목록 페이지 번호 -->
                            <!-- 검색목록 페이지 번호 -->
                            <div class="paging">
                                <span class="prev">
                                    <a href="#"><&nbsp;이전</a>
                                </span>
                                <span class="num">
                                    <a href="#" class="on">1</a>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                </span>
                                <span class="next">
                                    <a href="#">다음&nbsp;></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
<th:block th:include="@{my/_footer.html}"/>