<th:block th:include="@{my/_header.html}"/>

 <div class="mypage-contents">
     <div class="mypage-contents_head">
         <h2 class="mypage-contents__title">게시글관리</h2>
   	</div>
         <!--게시물 목록-->
         <div class="reserve_div">
             <table class="reserve_table">
                 <tr>
                     <th>#</th>
                     <th>예약번호</th>
                     <th>상태</th>
                     <th>병원</th>
                     <th>펫이름</th>
                     <th>예약일</th>
                     <th>시간</th>
                 </tr>
                 <tr>
                     <td><input type="checkbox"></td>
                     <td>1</td>
                     <td>3</td>
                     <td>4</td>
                     <td>5</td>
                     <td>6</td>
                     <td>7</td>
                 </tr>
                 <tr>
                     <td><input type="checkbox"></td>
                     <td>2</td>
                     <td>3</td>
                     <td>4</td>
                     <td>5</td>
                     <td>6</td>
                     <td>7</td>
                 </tr>
                 <tr>
                     <td><input type="checkbox"></td>
                     <td>3</td>
                     <td>3</td>
                     <td>4</td>
                     <td>5</td>
                     <td>6</td>
                     <td>7</td>
                 </tr>
                 <tr>
                     <td><input type="checkbox"></td>
                     <td>4</td>
                     <td>3</td>
                     <td>4</td>
                     <td>5</td>
                     <td>6</td>
                     <td>7</td>
                 </tr>
             </table>
             <div class="reserve_cancel">
                 <a href="#">취소</a>
             </div>
         </div>
         <!-- 검색목록 페이지 번호 -->
         <!-- 검색목록 페이지 번호 -->
         <div class="paging">
             <span class="prev">
                 <a href="#"><&nbsp;이전</a>
             </span>
             <span class="num">
                 <a href="#" class="on">1</a>
                 <a href="#">2</a>
                 <a href="#">3</a>
             </span>
             <span class="next">
                 <a href="#">다음&nbsp;></a>
             </span>
         </div>
      </div>
  </div>
  </div>
  </div>
<th:block th:include="@{my/_footer.html}"/>