<th:block th:include="@{my/_header.html}"/>
 	<div class="mypage-contents">
	     <div class="mypage-contents_head">
	         <h2 class="mypage-contents__title">예약관리</h2>
	   	</div>
	         <!--게시물 목록-->
	         <div class="reserve_div">
	         	 <input type="hidden" name="currentPage" th:value="${currentPage}"/>
	         	 <input type="hidden" name="lastPageNum" th:value="${lastPageNum}"/>
	             <table class="reserve_table">
	                 <tr>
	                     <th>#</th>
	                     <th>예약번호</th>
	                     <th>상태</th>
	                     <th>병원</th>
	                     <th>펫이름</th>
	                     <th>예약일</th>
	                     <th>시간</th>
	                 </tr>
	                 <tr th:if="${articles.size() == 0}">
	                 	<td colspan="7">
	                 		예약이 없습니다.
	                 	</td>
	                 </tr>
	                 
	                 <tr th:each="article,i:${articles}" class="reserve-list" th:if="${articles.size() > 0}">
	                     <td><input type="checkbox" class="rev_No" th:value="${article.revNo}"></td>
	                     <td>[[${pageStartNum - i.index }]]</td>
	                     <td>
	                     	<span th:if="${article.status} == 0">
	                     		예약대기중
	                     	</span>
	                     	<span th:if="${article.status} == 1">
	                     		예약확정
	                     	</span>
	                     	<span th:if="${article.status} == 2">
	                     		예약거절
	                     	</span>
	                     </td>
	                     <td>[[${article.hosName}]]</td>
	                     <td>[[${article.petName1}]]</td>
	                     <td>[[${article.revDate}]]</td>
	                     <td>[[${article.revTime.substring(0,5)}]]</td>
	                 </tr>
	             </table>
	             <div class="reserve_cancel">
	                 <a href="#">삭제</a>
	             </div>
	         </div>
        	 <!-- 검색목록 페이지 번호 -->
         	<!-- 검색목록 페이지 번호 -->
       		<div class="paging">
              <ul>
               <th:block th:if="${groups[0]>1}">
                   <li><a th:href="@{/my/myReserve(pg=${groups[0]-1})}" class="prev">←</a></li>
               </th:block>
               <th:block th:if="${groups[1] != 0}">
               <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                   <li><a th:href="@{/my/myReserve(pg=${num})}" th:class="${num == currentPage?'num on':'num'}">[[${num}]]</a></li>
               </th:block>
               </th:block>
               <th:block th:if="${groups[1]<lastPageNum}">
                   <li><a th:href="@{/my/myReserve(pg=${groups[1]+1})}" class="next">→</a></li>
               </th:block>
              </ul>
          </div>
      	</div>
  </div>
  </div>
  </div>
<th:block th:include="@{my/_footer.html}"/>