<!--
 * 날짜 : 2023/03/09
 * 이름 : 김경준
 * 설명 : HelloPet 커뮤니티 팁 페이지 화면구현
-->

<th:block th:include="@{community/_header.html}"/>
        <main>
            <div class="top">
                <h3>커뮤니티</h3>
            </div>
            <div class="tab">
                <ul>
                    <li class="on"><a href="#">반려동물 꿀팁</a></li>
                    <li><a th:href="@{/community/talktalk/list}">반려동물 톡톡</a></li>
                </ul>
            </div>
            <section id="tipMain">
                <div class="container">
                    <div class="tip_table">
                        <table border="0">
                            <tr th:each="article : ${articles}">
                                <td class="tipImg">
                                    <span th:style="'background: url('+@{__${article.img1.substring(9)}__}+')  center center / cover no-repeat ; '"></span>
                                </td>
                                <td>
                                    <div class="tipTitle"><a th:href="@{/community/tip/view(group='tip', no=${article.no})}">[[${article.title}]]</a></div><br>
                                    <span class="tipNick">
                                        <div class="tipIcon" th:style="'background: url('+@{/img/favicon_x32.png}+');'"></div>&nbsp헬로펫
                                    </span>
                                </td>
                                <td class="tipInfo">
                                    <div class="tipLike">
                                        <div class="tipHeart"  th:style="'background: url('+@{/img/icon-heart-mint.png}+');'"></div>
                                        &nbsp좋아요&nbsp<strong>[[${article.heart}]]</strong>
                                    </div><br>
                                    <div class="tipHit">조회[[${article.hit}]]ㅣ[[${article.rdate.substring(2, 10)}]]</div>
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                    <div class="write">
                        <a th:href="@{/community/tip/write}"><button>글쓰기</button></a>
                    </div>
                    <div class="paging">
                    	<th:block th:if="${pageGroupStart > 1}">
                        <a th:href="@{/community/tip/list(pg=${pageGroupStart - 1})}" class="prev">←</a>
                        </th:block>
                        <th:block th:each="num,iterStat : ${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
                        <a th:href="@{/community/tip/list(pg=${num},group='tip')}" th:class="${num} eq ${currentPage} ? 'num on':'num'">[[${num}]]</a>
                        </th:block>
                        <th:block th:if="${pageGroupEnd < lastPageNum}">
                        <a th:href="@{/community/tip/list(pg=${pageGroupEnd + 1})}" class="next">→</a>
                        </th:block>
                    </div>
                </div>
            </section>

            
        </main>
<th:block th:include="@{community/_footer.html}"/>
