<!--
 * 날짜 : 2023/03/09
 * 이름 : 김경준
 * 설명 : HelloPet 커뮤니티 팁 페이지 화면구현
-->
<th:block th:include="@{community/_header.html}"/>
        <script>
            $(function(){
                $('form').submit(function(){
                if($('input[name=title]').val() == ''){
    				alert('제목을 입력하십시요.');
    				return false;
    			}
    		    if($('textarea[name=content]').val() == ''){
    				alert('내용을 입력하십시요.');
    				return false;
    			}
                alert('수정되었습니다.');
    			return true;
    		});
            });
        </script>
        <main>
            <div class="top">
                <h3>커뮤니티</h3>
            </div>
            <div class="modify_cate">
                <h3 class="modify_tip">반려동물 꿀팁 수정</h3>
            </div>
            <div>
                <form action="#" class="modify_form" method="post">
                    <table class="modify_table">
                    	<input type="hidden" name="uid" value="admin">
                    	<input type="hidden" name="group" value="tip">
                        <tr>
                            <td class="modify_font">제목</td>
                            <td class="modify_title"><input type="text" name="title" placeholder="제목을 입력하세요." th:value="${article.title}"></td>
                        </tr>
                        <tr>
                            <td class="modify_font" style="border-bottom: none;">내용</td>
                            <td class="modify_content" style="border-bottom: none;"><textarea name="content" placeholder="내용을 입력하세요.">
[[${article.content}]]
                            </textarea></td>
                        </tr>
                    </table>
                    <div class="modify_link">
                        <a th:href="@{/community/tip/view(no=${article.no})}"><button type="button" class="modify_cancel">취소</button></a>
                        <input type="submit" class="btn_modify_submit" value="수정">
                    </div>

                </form>
            </div>
            
        </main>
<th:block th:include="@{community/_footer.html}"/>
     