<!--
 * 날짜 : 2023/03/09
 * 이름 : 김경준
 * 설명 : HelloPet 커뮤니티 팁 페이지 화면구현
-->
<th:block th:include="@{community/_header.html}"/>
        <script>
            $(function(){
                $('.view_delete').click(function(){
                    if(!confirm('정말 삭제하시겠습니까?')){
                        return false;
                    }
                    alert('삭제되었습니다.');
                });
                
                
                
                $('.heart_img').click(function(){
                	
                });
            });
        </script>
        <main>
            <div class="top">
                <h3>커뮤니티</h3>
            </div>
            <div class="tab">
                <ul>
                    <li class="on"><a th:href="@{/community/tip/list}">반려동물 꿀팁</a></li>
                    <li><a th:href="@{/community/talktalk/list}">반려동물 톡톡</a></li>
                </ul>
            </div>
            <div class="tip_view_title">
                <h3>[[${article.title}]]</h3>
                <span class="tip_view_nick"><div class="tipIcon" th:style="'background: url('+ @{/img/favicon_x32.png}+');'"></div>&nbsp헬로펫</span>
            </div>
            <div class="tip_view_content">
                <div class="tip_view_hit">
                    조회[[${article.hit}]]ㅣ[[${article.rdate.substring(2, 10)}]]
                </div>
                <div class="view_img_div" th:if="${article.img1} ne null">
                <div class="view_img" th:style="'background: url('+ @{__${article.img1.substring(9)}__}+') center center / cover no-repeat;'">
                </div>
                </div>
                <div class="tip_view_text" style="white-space: pre-line;">
[[${article.content}]]

                </div>
                <div class="tip_view_heart">
                	<div class="heart_button">
                		<div class="heart_img">
                			<img th:src="@{/img/icon-heart.png}">
                		</div>
                		<div class="heart_text">
                			좋아요
                		</div>
                	</div>
                </div>
                <div class="view_link">
                    <a th:href="@{/community/tip/list}"><button class="view_list">목록</button></a>
                    <a th:href="@{/community/tip/modify(group='tip', no=${article.no})}"><button class="view_modify">수정</button></a>
                    <a th:href="@{/community/tip/delete(group='tip', no=${article.no})}"><button class="view_delete">삭제</button></a>
                </div>
            </div>
        </main>
<th:block th:include="@{community/_footer.html}"/>
       