<th:block th:include="@{cs/_header.html}"/>
<script>
  window.onload = function() {
    var rdate = getUrlParameter('rdate');
    history.replaceState(null, null, window.location.pathname + "?no=" + getUrlParameter('no') + "&pg=" + getUrlParameter('pg'));
    // rdate 값을 사용하여 필요한 곳에 전달합니다.
  }

  function getUrlParameter(name) {
    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
  };
  
  $(function(){
		
		var level = $('input[name=level]').val(); // 현재 로그인한 사용자의 레벨을 얻어옵니다.
		console.log('wow'+level);
		
		var writerUid = $('input[name=writerUid]').val(); 
		console.log(writerUid);
		
		$('.btnDel').click(function(){
			if(confirm('정말 삭제하시겠습니까?')){
				return true;
			}else{
				return false;
			}
		});
		$('.btnComplete').click(function(){
			if(level < 7){
				alert('관리자만 답변을 작성할 수 있습니다.');
				return false;
			}else{
				if(confirm('답변을 작성하시겠습니까?')){
					$.ajax({
			            url: "/HelloPet/cs/qna/view",
			            method: 'post',
			            data: {'writerUid':writerUid},
			            success: function(data){
			            	alert('답변이 성공적으로 작성되었습니다.');
			            }
			        });
					return true;
				}else{
					return false;
				}
			}
		});

		$('.remove').click(function(){
			if(confirm('답변을 삭제하시겠습니까?')){
				return true;
			}else{
				return false;
			}
		});
		
        
	});
</script>
        <main id="qna">
		    <div class="top">
		        <h3>고객센터</h3>
		    </div>
		    <div class="tab">
		        <ul>
		            <li><a th:href="@{/cs/notice/list}">공지사항</a></li>
		            <li><a th:href="@{/cs/faq/list}">자주묻는질문</a></li>
		            <li class="on"><a th:href="@{/cs/qna/list}">문의하기</a></li>
		        </ul>
		    </div>
            <section id="view">
                <div class="container">
                    <table class="viewTable">
                        <tr>
                        	<th colspan="2">[[${vo.title}]]</th>
                        </tr>
                        <tr>
                            <td style="height: 40px;">
                                작성자 : <span>[[${vo.nick}]]</span> |
                                작성일 : <span>[[${vo.rdate.substring(2,10)}]]</span> |
                                조회수 : <span>[[${vo.hit}]]</span>
                            </td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="content">
                                <p>[[${vo.content}]]</p>
                            </td>
                        </tr>
                    </table>
                    <div class="button">
                        <a th:href="@{/cs/qna/list(pg=${currentPage})}" class="btnList">목록</a>
                        <a th:href="@{/cs/qna/delete(no=${vo.no},pg=${currentPage})}" class="btnDel">삭제</a>
                    </div>
                    
                    <!-- 답변쓰기 -->
                    <th:block th:if="${#lists.isEmpty(replys)}">
	                    <section class="replyForm">
	                        <form action="#" method="post">
	                        <input type="hidden" name="writerUid" th:value="${vo.uid}"/>
	                        <input type="hidden" name="uid" th:value="${#authentication.principal.member.uid}"/>
	                        <input type="hidden" name="level" th:value="${#authentication.principal.member.level}"/>
	                            <textarea name="content" placeholder="답변 입력"></textarea>
	                            <div>
	                                <input type="submit" class="btn btnComplete" value="작성"/>
	                            </div>
	                        </form>
	                    </section>
                    </th:block>
                    <th:block th:unless="${#lists.isEmpty(replys)}">
	                    <p></p>
                    </th:block>

                    <!-- 답변목록 -->
                    <section class="replyList">
	                    <th:block th:if="${#lists.isEmpty(replys)}">
		                    <p class="empty">등록된 답변이 없습니다.</p>
	                    </th:block>
	                    <th:block th:unless="${#lists.isEmpty(replys)}">
	                        <article th:each="reply:${replys}">
	                        	<h3>Reply</h3>
	                        	<p class="content" >[[${reply.content}]]</p><br>
	                            <span class="nick" >관리자&nbsp;</span>
	                            <span class="date" >[[${reply.rdate.substring(2,10)}]]</span>
	                            <div>
	                                <a sec:authorize="hasAuthority('ROLE_7')" th:href="@{/cs/qnaReply/delete(no=${vo.no},pg=${currentPage})}" class="remove">삭제</a>
	                            </div>
	                        </article>
	                    </th:block>                
                    </section>
                </div>
            </section>
        </main>
<th:block th:include="@{cs/_footer.html}"/>